:root {
    --normal-font: 'Inter', sans-serif;
    --heading-font: 'Limelight', cursive;
    --second-color: #D6EF0E;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(/images/bg\ burn.png) no-repeat;
    background-color: black;
    background-position: top;
    background-size: cover;
    }

nav {
    margin: 30px 90px;
}
nav ul{
    list-style-type: none;
}
nav li{
    margin-right: 40px;
}
.btn-branding {
    background-color: var(--second-color);
    border-radius: 8px;
    padding: 5px 30px;
    line-height: 30px;
}

.btn-branding,
nav a {
    color: white;
    text-decoration: none;
    font-family: var(--normal-font);
    font-size: 14px;
}