:root {
    --normal-font: 'Inter', sans-serif;
    --heading-font: 'Limelight', cursive;
    --first-color: #fff;
    --second-color: #D6EF0E;
    --box-color: #b2560d;
    --boxes-color: #131E3A;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(/images/bg\ burn.png) no-repeat;
    background-position: top;
    background-size: cover;
}

nav {
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    padding: 20px 160px 10px 90px;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-right: 50px;
}

nav li a {
    transition: all .17s ease-in-out;
    position: relative;
    padding-bottom: 7px;
}

nav li a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

nav li a:hover::after {
    transform: scaleX(1);
}

nav li a:hover {
    color: var(--second-color);
}

.btn-branding {
    background-color: var(--second-color);
    border-radius: 8px;
    padding: 5px 30px;
    line-height: 30px;
    transition: all .17s ease-in-out;

}

.btn-branding:hover {
    background-color: #8d9f0b;
}

.btn-branding,
nav a {
    color: var(--first-color);
    text-decoration: none;
    font-family: var(--normal-font);
    font-size: 14px;
}

.active {
    border-bottom: 3px solid var(--second-color);
    pointer-events: none;
}

.hero {
    margin-top: 100px;
}

.hero-left {
    padding-top: 60px;
    margin-bottom: 60px;
}

.hero-right {
    text-align: center;
    position: relative;
    width: 60%;
    height: auto;
}

.hero-right img {
    border-radius: 20px;
    width: 400px;
    height: 500px;
}

.first-box {
    position: absolute;
    background-color: var(--box-color);
    /* transform: translate(20px, -78px); */
    width: 220px;
    height: 120px;
    border-radius: 16px;
    border-top: 1px solid var(--second-color);
    top: 72%;
    left: 57%;
}

.first-box p {
    color: var(--second-color);
    margin-top: 20px;
}

.first-box a,
.movie-details a {
    text-decoration: none;
    padding: 10px 60px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 8px;
    font-family: var(--normal-font);
    color: var(--second-color);
    border: 1px solid var(--second-color);
    margin-top: 10px;
    transition: all .17s ease-in-out;
}

.first-box a:hover {
    background-color: var(--second-color);
    color: var(--box-color);
}

.hero-left h1 {
    font-size: 50px;
    color: var(--first-color);
    font-family: var(--heading-font);
}

.hero-left h1 span {
    color: var(--second-color);
}

.hero-left p {
    color: #fefef1d7;
    font-family: var(--normal-font);
    width: 500px;
    font-size: 14px;
    line-height: 1.7;
}

.btns a {
    color: var(--first-color);
    text-decoration: none;
    font-size: 15px;
    transition: all .17s ease-in-out;

}

.btns :first-child {
    background-color: var(--second-color);
    padding: 10px 25px 14px 25px;
    border-radius: 8px;
    margin-right: 25px;
}

.btns :hover:first-child {
    background-color: #8d9f0b;
}

.btns :hover:last-child {
    color: var(--second-color);
}

.count {
    margin-top: 60px;
    display: flex;
    gap: 90px;
    text-align: center;
}

.count div:nth-child(2),
.count div:nth-child(3) {
    border-left: 1px solid var(--second-color);
    padding-left: 20px;
}

.amount span:nth-of-type(1) {
    font-size: 40px;
    color: var(--second-color);
    font-family: var(--heading-font);
}

.amount span:nth-of-type(2) {
    font-size: 40px;
    font-family: var(--heading-font);
    color: var(--first-color);
}

.amount span:nth-of-type(3) {
    font-family: var(--normal-font);
    color: var(--first-color);
    font-size: 12px;
}

/* second layer */
.second-layer h1 {
    font-family: var(--heading-font);
    font-size: 35px;
    color: var(--first-color);
    margin-bottom: 0;
    line-height: 1.5;
}

.second-layer h1 span {
    color: var(--second-color);
}

.second-layer-btn {
    padding: 5px 30px;
    margin-right: 50px;
}

.second-layer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.amazing {
    justify-content: center;
    gap: 45px;
}

.movie-boxes {
    background-color: var(--boxes-color);
    border-radius: 20px;
    color: var(--first-color);
    font-family: var(--normal-font);
    border-top: 1px solid var(--second-color);
    padding: 15px 0px;
}

.movie-boxes img {
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.movie-boxes img:hover {
    transform: scale(1.01);
}

.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-boxes p {
    font-size: 14px;
    color: #838382;
}

.movie-details i {
    font-size: 20px;
    margin-left: 2px;
}

.movie-details span {
    font-size: 14px;
    margin-left: 2px;
}

.movie-details a {
    padding: 10px 30px;
    margin-top: 0;
}

.movie-details a:hover {
    background-color: var(--second-color);
    color: var(--boxes-color);
}

/* third layer */

.third-layer {
    align-items: center;
    padding: 50px 0 60px 0;
}

.third-layer-left h1 {
    font-size: 45px;
}

.third-layer-right img {
    width: 70%;
    height: auto;
    margin-right: 50px;
    border-radius: 20px;
}

.third-layer-right {
    text-align: end;
    position: relative;
}

.sec-img {
    position: absolute;
    top: 55%;
    right: 60%;
}

.sec-img img {
    width: 100%;
    height: auto;
}

/* fourth layer */

.actors-images img {
    border-radius: 15px;
}

.actors-images {
    justify-content: center;
}

.first-row {
    margin-bottom: 4%;
}

/* fifth layer */

.fifth-layer {
    padding: 13% 0 15% 0;
}

.fifth-layer-left {
    position: relative;
}

.fifth-sec-img {
    position: absolute;
    top: 30%;
    left: 40%;
}

.fifth-layer-left img {
    border-radius: 15px;
}

.fifth-first-img {
    width: 50%;
    transform: rotate(-11deg);
}

.fifth-sec-img img {
    width: 60%;
    transform: rotate(5deg);
}

.email-input {
    align-items: center;
    background-color: var(--boxes-color);
    border-radius: 6px;
    display: inline;
    padding: 10px 5px 15px 5px;
    width: 100%;
}

.email-input a {
    font-size: 12px;
    border-radius: 6px;
    padding: 10px 25px;
    margin-left: 10px;
}

.fifth-layer-right p {
    font-size: 12px;
    color: #fefef1d7;
    width: 370px;
}

input[type=email] {
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-family: var(--normal-font);
    padding: 13px ;
    outline: none;
    color: #fff;
    width: 45%;
}

.box-shadow{
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 5px var(--second-color);
}
@media (max-width: 600px) {
    nav {
        padding-left: 0;
        padding-right: 20px;
    }

    nav ul li {
        margin-right: 15px;
    }

    .btn-branding {
        padding: 2px 12px;
        line-height: 35px;
    }

    .hero-left {
        padding-top: 10px;
        text-align: center;
        margin-bottom: 70px;

    }

    .hero-left h1 {
        font-size: 35px;
    }

    .hero-left p {
        width: 280px;
        margin: 0 auto;
        font-size: 12px;
    }

    .btns :first-child {
        padding: 8px 15px;
        margin-right: 5px;
    }

    .hero-left a {
        font-size: 14px;
    }

    .hero-right {
        align-items: center;
        margin-bottom: 50px;
    }

    .hero-right img {
        width: 250px;
        height: 300px;
    }

    .first-box {
        width: 220px;
        height: 100px;
        /* transform: translate(0, 0); */
        font-size: 14px;
    }

    .first-box p {
        margin: 15px 10px 15px 10px;
    }

    .first-box a {
        font-size: 10px;
        padding: 10px 15px;
    }

    .count div:nth-child(2),
    .count div:nth-child(3) {
        padding-left: 10px;
    }

    .count {
        gap: 40px;
        justify-content: center;
    }

    .second-layer-title h1 {
        font-size: 20px;
    }

    .second-layer-title a {
        margin-right: 10px;
        padding: 5px 14px;
    }

    .third-layer-right img {
        margin-right: 0;
        margin-left: 10PX;
    }

    .third-layer-left h1 {
        font-size: 25px;
    }

    .actors-images {
        align-items: center;
    }

    .fifth-layer {
        padding: 30px 0;
    }

    .fifth-layer-right h1 {
        font-size: 22px;
    }

    .fifth-layer-right p {
        font-size: 11px;
    }

    .email-input {
        padding: 5px 5px 10px 5px;
    }

    .email-input a {
        padding: 7px 10px;
        font-size: 11px;
        margin-left: 0px;

    }
}